body {
    margin: 0px;
}
#videopane, #playlistpane {
    position: relative;
    width: 100%;
    height:100%;
}
#videopane > video {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
}
#videopane > div {
    position: absolute;
    z-index: 2;
}
div.labelstring {
    color: #eee;
    background: rgba(96, 96, 96, 0.6);
    font-size: 32px;
    font-family: sans-serif;
    border-radius: 16px;
    padding: 8px;
}
#speedLabel {
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
}
#loopLabel {
    visibility: hidden;
    position: absolute;
    top: 80px;
    right: 20px;
}
#titleLabel {
    visibility: hidden;
    display: inline-block;
    max-width: 85%;
    width: fit-content;
    text-align: center;
}
#timeLabel {
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
}
#aspectLabel {
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 20px;
}
#sizeLabel {
    visibility: hidden;
    position: absolute;
    top: 140px;
    left: 20px;
}
div#playlist > div {
    display: flex;
    width: 100%;
}
#tools {
    font-size: 30px;
    position: sticky;
    top: 0;
    background: #cce;
}
#tools > label {
    visibility: hidden;
}
div.selected {
    display: inline;
    width: 20px;
}
div.playing {
    display: inline;
    width: 20px;
}
div.filename {
    display: inline;
    width: 100%;
}
